@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    background-color: #1e3b3c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links a{
    color: whitesmoke;
}
.logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
body {
    /* background-color: black; */
  background: linear-gradient(to bottom right,#1e3b3c,rgb(248, 248, 248))
  no-repeat center/cover fixed;
  /* font-family: "Sumana", serif; */

}




li{
    list-style: none;
    display: inline-block;
}
li a{
    font-size: 30px;
    font-weight: bold;
    margin-right: 50px;
}

.container{
    font-size: xx-large;
    margin-top: 200px;
    margin-left: 500px;
}
.mate-font{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}
.split-font{
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}